/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@import "tailwindcss";

@layer base {
  body {
    font-family: iransansx, tahoma;
    direction: rtl; /* Reverse the direction */
    overflow-x: hidden;
    -moz-font-feature-settings: "ss02", "ss03", "ss04";
    -webkit-font-feature-settings: "ss02", "ss03", "ss04";
    font-feature-settings: "ss02", "ss03", "ss04";
  }

  @supports (font-variation-settings: normal) {
    body {
      font-family: "iransansxv", tahoma;
    }
  }
}

/* Add your font-face definitions */
@font-face {
  font-family: "iransansxv";
  src:
    url("/fonts/IRANSansXV.woff") format("woff-variations"),
    url("/fonts/IRANSansXV.woff2") format("woff-variations"),
    /* will be the standard and works in Safari now */
      url("/fonts/IRANSansXV.woff") format("woff");
  font-weight: 100 1000;
  font-display: fallback;
}

@font-face {
  font-family: iransansx;
  src: url("/fonts/IRANSansX-Regular.woff") format("woff");
}

@font-face {
  font-family: iransansx;
  src: url("/fonts/IRANSansXV.woff") format("woff");
  font-weight: 700;
}

/* Define the ss02, ss03, and ss04 utility classes in case you need to apply them selectively */
.ss02 {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

.ss03 {
  -moz-font-feature-settings: "ss03";
  -webkit-font-feature-settings: "ss03";
  font-feature-settings: "ss03";
}

.ss04 {
  -moz-font-feature-settings: "ss04";
  -webkit-font-feature-settings: "ss04";
  font-feature-settings: "ss04";
}

/* For Chrome, Safari, Edge, Opera */
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media print {
  body * {
    visibility: hidden; /* Force hide everything */
  }

  .print,
  .print * {
    visibility: visible; /* Force show only the print div */
  }

  .print {
    position: absolute;
    top: 3rem;
    width: 90%;
    margin: 0 auto;
    height: auto;
  }

  @page {
    margin: 0;
    size: auto;
  }
}
